.intro {
    @extend %cover;
    @extend %page;
  
    overflow: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
  
    &--active {
      @extend %page--active;
    }
  }
  
  .intro__background {
    @extend %cover;
  
    color: $color-pine-tree;
    pointer-events: none;
    z-index: 10;
  
    &__top,
    &__bottom {
      background: currentColor;
      content: '';
      display: block;
      height: 10rem;
      position: absolute;
      width: 100%;
    }
  
    &__top {
      background: linear-gradient(to bottom, currentColor 0%, transparent 100%);
      top: 0;
    }
  
    &__bottom {
      background: linear-gradient(to bottom, transparent 0%, currentColor 100%);
      bottom: 0;
    }
  }
  
  .intro__wrapper {
    @extend %cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .intro__title {
    font-size: 3rem;
    color: $color-pine-tree;
    text-align: center;
  }
  