section.intro
  .intro__content
    .intro__wrapper

      header.intro__header
        h1.intro__header__title
          span.intro__header__title__text
            | #[span TIMO]
            | #[span THY]




      
      .image-wrapper

      .intro__description
        p Tim Andrews is a multidisciplinary designer with a focus on digital and print media. His portfolio showcases a dedication to craftsmanship and user-centric design.