section.intro
  .intro__content
    .intro__wrapper
      header.intro__header
        h1.intro__header__title
          span.intro__header__title__text
            | #[span TIM]
            | #[span ANDREWS]

          

          span.intro__header__title__text
            | #[span CREATIVE]

          span.intro__header__title__text
            | #[span ]
            | #[span DESIGNER]