nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/home") TIM ANDREWS

    li.navigation__item
      a.navigation__link(href="/home") Work

    li.navigation__item
      a.navigation__link(href="/about") About

    li.navigation__item
      a.navigation__link(href="https://twitter.com/lhbizarro/" target="_blank") Reach Out

  button.navigation__easter Activate Easter Egg
