$color-iron:#ECD6B0;
$color-pine-tree:#392A16;

$font-ampersand: 'Ampersand', sans-serif;
$font-neue-montreal: 'Neue Montreal', sans-serif;
$font-Neue-Pixel-Grotesk: 'Neue Pixel Grotesk', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'navigation',
  'content',
  'canvas'
);
